
/* Index page */

.nav_bar{
  list-style-type: none;
  margin: 0 0 20px;
  padding: 0;
  overflow: hidden;
  background-color: #666666;
}

.nav_bar > li{
  float: left;
  border-right: 4px solid #e0e0e0;
  border-bottom: 4px solid #525252;
}

.nav_bar > li a{
  display: block;
  color: white;
  font-family: Monaco, Verdana, sans-serif;
  text-align: center;
  font-size: 22px;
  padding: 14px 20px;
  text-decoration: none;
}

.nav_bar > li a:hover{
  background-color: #bb0000;
}

/* media page */
.media_header {
  text-align: center;
  margin-bottom: 50px;
}

.media_table {
  width: 100%;
}

.media_table th, .media_table td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

/* Publication Page */

/* Create by Hongda Lin (6/29/2021) */
.publication_header{
  padding: 10px;
  font-family: 'Kaushan Script', cursive, sans-serif;
  font-size: 60px;
  text-align: center;
  margin-bottom: 10px;
}
/* Create by Hongda Lin (6/29/2021) */
.publication_table{
  width: 100%;
}
.publication_content{

}
/* Create by Hongda Lin (7/1/2021) */
#pt_title, #pt_author, #pt_source{
  width: 30%;
  font-size: 30px;
  border: 8px solid red;
  border-left: none;
  border-right: none;
  background-color: azure;
  text-align: center;
  padding: 10px;
}
/* Create by Hongda Lin (7/1/2021) */
#pt_link{
  width: 10%;
  font-size: 30px;
  border: 8px solid red;
  border-left: none;
  border-right: none;
  background-color: azure;
  text-align: center;
  padding: 10px;
}
/* Create by Hongda Lin (7/1/2021) */
.pc_title, .pc_author, .pc_source{
  width: 30%;
  border: 2px solid black;
  text-align: center;
  padding: 30px;
}
/* Create by Hongda Lin (7/1/2021) */
.pc_link{
  text-align: center;
  border: 2px solid black;
  padding: 30px;
}
/* Create by Hongda Lin (6/29/2021) */
.publication_content button{
  background: none;
  color: #00008B;
  border: 2px solid #FFD700;
  padding: 5px 6px;
  margin: 5px;
  font-size: 1em;
  transition: color 0.5s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}
/* Create by Hongda Lin (6/29/2021) */
.publication_content button:hover{
  border-color: #FF1493;
  color:red;
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
  cursor: pointer;
}

/* Create by Hongda Lin (6/29/2021) */
.publication_content td:nth-child(3){
  font-style: italic;
}
/* Create by Hongda Lin (7/1/2021) */
.publication_content tr:nth-last-of-type(2n){
  background-color: beige;
}
/* Create by Hongda Lin (7/1/2021) */
.publication_content tr:nth-last-of-type(2n+1){
  background-color: lightgray;
}

/* Directions Page */
/* Create by Madison Graziani on 7/1/2021 */

.directions_title{
  border-style: double;
  border-width: 7px;
  border-radius: 25px;
  border-color: #bb0000;
  padding: 20px;
  margin: auto;
  width: 500px;
  text-align: center;
  font-size: 40px;
  font-family: Arial, sans-serif;
}

body > p{
  margin: 20px auto;
  padding: 20px;
  width: 1200px;
  font-size: 24px;
  font-family: Helvetica, sans-serif;
}

.directions_div{
  background-color: #efefef;
  padding: 25px;
  margin: 0 250px 0;
  border-radius: 25px;
  font-size: 22px;
  font-family: Helvetica, sans-serif;
}

hr.break{
  width: 1400px;
}

.directions_div > ol{
  width: 1100px;
  margin: 10px auto;
}

.directions_div > ol > ul{
  width: 1100px;
  margin: 10px auto;
}

.directions_div > h3{
  text-align: left;
  margin: 25px auto 10px;
  width: 1200px;
  color: #bb0000;
}

/* teaching page */

/* Created 7/1/21 by Samuel Gernstetter */
.teaching_header {
  text-align: center;
  margin-bottom: 50px;
}

/* Created 7/1/21 by Samuel Gernstetter */
.teaching_table {
  width: 100%;
}

/* Created 7/1/21 by Samuel Gernstetter */
.teaching_table th, .teaching_table td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}