
/* Index page */

/* Create by Hongda Lin (6/29/2021) */
button{
  background: none;
  color: #00008B;
  border: 2px solid #FFD700;
  padding: 5px 6px;
  margin: 5px;
  font-size: 1em;
  transition: color 0.5s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;

}

/* Create by Hongda Lin (6/29/2021) */
/* Cool effect when hover over the button */
button:hover{
  border-color: #FF1493;
  color:red;
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
  cursor: pointer;
}

/* media page */
.media_header {
  text-align: center;
  margin-bottom: 50px;
}

.media_table {
  width: 100%;
}

.media_table th, .media_table td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

/* Publication Page */

/* Create by Hongda Lin (6/29/2021) */
.publication_header{
  padding: 10px;
  font-family: 'Kaushan Script', cursive;
  font-size: 60px;
  text-align: center;
  margin-bottom: 10px;
}
/* Create by Hongda Lin (6/29/2021) */
.publication_table{
  width: 100%;
}

.publication_content{

}

/* Create by Hongda Lin (7/1/2021) */
#pt_title, #pt_author, #pt_source{
  width: 30%;
  font-size: 30px;
  border: 8px solid red;
  border-left: none;
  border-right: none;
  background-color: azure;
  text-align: center;
  padding: 10px;
}

/* Create by Hongda Lin (7/1/2021) */
#pt_link{
  width: 10%;
  font-size: 30px;
  border: 8px solid red;
  border-left: none;
  border-right: none;
  background-color: azure;
  text-align: center;
  padding: 10px;
}

/* Create by Hongda Lin (7/1/2021) */
.pc_title, .pc_author, .pc_source{
  width: 30%;
  border: 2px solid black;
  text-align: center;
  padding: 30px;
}

/* Create by Hongda Lin (7/1/2021) */
.pc_link{
  text-align: center;
  border: 2px solid black;
  padding: 30px;
}

/* Create by Hongda Lin (6/29/2021) */
.publication_content td:nth-child(3){
  font-style: italic;
}
