div {
  background-color: #efefef;
  padding: 25px;
  margin: 0 250px 0;
  border-radius: 25px;
  font-size: 22px;
  font-family: Helvetica, sans-serif;
}

/* Index page */

/* Drew */
table {
  width: 100%;
}

.link_buttons {
  background: #333333;
  color: #990100;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px #990100;
  margin-inline: auto;
}

.imgHome {
  border-radius: 0px;
  display: block;
  margin-left: 0;
  padding: 0;
  width: 400px;
  alignment: bottom;
  float: right;
}
.ulHome {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 5px #990100;
}
.liHome {
  display: inline;
  border: 5px #990100;
  padding: 4px;
}

.rectangleScarlet {
  height: 25px;
  background-color: #990100;
}

.footerHome {
  background-color: #87919E;
  color: #333333;
  margin: 0;
  padding: 0;
  border-right: 20px #990100;
}

.pHome {
  background: #87919E;
  color: #333333;
  margin: 0;
  padding: 0;

}

 /**/

/* Create by Hongda Lin (6/29/2021) */
/* Cool effect when hover over the button */
/*
button:hover{
  border-color: #FF1493;
  color:red;
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
  cursor: pointer;
}

 */

.nav_bar{
  list-style-type: none;
  margin: 0 0 20px;
  padding: 0;
  overflow: hidden;
  background-color: #666666;
}

.nav_bar > li{
  float: left;
  border-right: 4px solid #e0e0e0;
  border-bottom: 4px solid #525252;
}

.nav_bar > li a{
  display: block;
  color: white;
  font-family: Monaco, Verdana, sans-serif;
  text-align: center;
  font-size: 22px;
  padding: 14px 20px;
  text-decoration: none;
}

.nav_bar > li a:hover{
  background-color: #bb0000;
}

/* media page */

table {
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

/* Publication Page */

/* Create by Hongda Lin (6/29/2021) */

.publication_header{
  padding: 10px;
  font-family: 'Kaushan Script', cursive, sans-serif;
  font-size: 60px;
  text-align: center;
  background-color: gold;
  margin: 5px;
}

/* Create by Hongda Lin (6/29/2021) */
.publication_table{
  width: 100%;
  padding: 20px 0px;
  background-color: hsl(0, 0%, 96%);
}
/* Create by Hongda Lin (7/1/2021) */
#pt_title, #pt_author, #pt_source{
  width: 30%;
  font-size: 30px;
  border: 8px solid red;
  border-left: none;
  border-right: none;
  text-align: center;
  padding: 40px;
}
/* Create by Hongda Lin (7/1/2021) */
#pt_link{
  width: 10%;
  font-size: 30px;
  border: 8px solid red;
  border-left: none;
  border-right: none;
  text-align: center;
  padding: 40px;
}
/* Create by Hongda Lin (7/1/2021) */
.pc_title, .pc_author, .pc_source{
  width: 30%;
  text-align: center;
  font-family: "andale mono", "lucida console", monospace;
  padding: 20px 10px 20px 10px;
  line-height: 1.8;
  font-size: 20px;
}
/* Create by Hongda Lin (7/1/2021) */
.pc_link{
  width: 10%;
  text-align: center;
  padding: 20px 0px 20px 0px;
  font-size: 20px;
}
.publication_content a:link, a:visited {
  color: darkblue;
}
.publication_content a:hover, a:active {
  color: red;
}
/* Create by Hongda Lin (6/29/2021) */
.publication_content td:nth-child(3){
  font-style: italic;
}
/* Create by Hongda Lin (7/1/2021) */
.publication_content tr:nth-last-of-type(2n+1){
  background-color: gainsboro;
}

/* Directions Page */
/* Create by Madison Graziani on 7/1/2021 */

h1 {
  border-style: double;
  border-width: 7px;
  border-radius: 25px;
  border-color: #bb0000;
  padding: 20px;
  margin: auto;
  width: 500px;
  text-align: center;
  font-size: 40px;
  font-family: Arial, sans-serif;
}

body > p{
  margin: 20px auto;
  padding: 20px;
  width: 1200px;
  font-size: 24px;
  font-family: Helvetica, sans-serif;
}

hr.break{
  width: 1400px;
}

.directions_div > ol{
  width: 1100px;
  margin: 10px auto;
}

.directions_div > ol > li{
  width: 1100px;
  margin: 10px auto;
}

.directions_div > ul > li{
  width: 1100px;
  margin: 10px auto;
}

.directions_div > ul{
  width: 1100px;
  margin: 10px auto;
}

.directions_div > ul > li > a:link{
  color: #bb0000;
}

.directions_div > ul > li > a:visited{
  color: #525252;
}

div > h2{
  text-align: left;
  margin: 25px auto 10px;
  width: 1200px;
  color: #bb0000;
}

/* teaching page */

/* Created 7/1/21 by Samuel Gernstetter */

/* Created 7/1/21 by Samuel Gernstetter */
