<!-- Created by Madison Graziani on 7/1/2021 -->

<footer class="footerHome">
  <h5 class="h5Home">Legacy Links</h5>
</footer>
<div>
    <span class="link_buttons">
      <ul class="ulHome">
        <!-- Links Header -->
        <li class="liHome"><a href= "https://web.cse.ohio-state.edu/~davis.1719/publications.html">Publications</a></li>
        <li class="liHome"><a href= "https://web.cse.ohio-state.edu/~davis.1719/publications.html">Teaching</a></li>
        <li class="liHome"><a href= "https://web.cse.ohio-state.edu/~davis.1719/publications.html">Directions</a></li>
        <li class="liHome"><a href="mailto: davis.1719@osu.edu">Email</a></li>
        <li class="liHome"><a href="https://www.cse.ohio-state.edu/">Dept. of Computer Science and Engineering</a></li>
        <li class="liHome"><a href="https://www.osu.edu/">Ohio State University</a></li>
      </ul>
    </span>
</div>