body {
    color: #87919E;
    background: #333333;
}
h1 {
    height: 50px;
    margin: 0;
    padding: 0 0 0 0;
    background: #87919E;
    font-style: italic;
    color: #333333;
    border-right: 20px #990100;
    text-align: center;
}

h3 {
    height: 25px;
    background: #87919E;
    text-align: center;
    color: #333333;
    margin: 0;
    padding: 0;
}

a{
    color: #b00;
}
a:visited {
    color: #87919E;
}

.link_buttons {
    background: #333333;
    color: #990100;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px #990100;
    margin-inline: auto;
}

img {
    border-radius: 0px;
    display: block;
    margin-left: 0;
    padding: 0;
    width: 400px;
    alignment: bottom;
    float: right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 5px #990100;
}
li {
    display: inline;
    border: 5px #990100;
    padding: 4px;
}

.rectangleScarlet {
    height: 25px;
    background-color: #990100;
}

footer {
    background-color: #87919E;
    color: #333333;
    margin: 0;
    padding: 0;
    border-right: 20px #990100;
}

p {
    background: #87919E;
    color: #333333;
    margin: 0;
    padding: 0;
}