<!-- Created by Drew Jackson (6/31/2021) -->

<!-- Home Page -->

<!-- header -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="home.css">
  <title>Davis</title>
</head>
<body>
<div class="container">
  <div>
  <span class="link_buttons">
    <ul>
      <!-- Links Header -->
      <li><a href= "https://web.cse.ohio-state.edu/~davis.1719/publications.html">Publications</a></li>
      <li><a href= "https://web.cse.ohio-state.edu/~davis.1719/publications.html">Teaching</a></li>
      <li><a href= "https://web.cse.ohio-state.edu/~davis.1719/publications.html">Directions</a></li>
      <li><a href="mailto: davis.1719@osu.edu">Email</a></li>
      <li><a href="https://www.cse.ohio-state.edu/">Dept. of Computer Science and Engineering</a></li>
      <li><a href="https://www.osu.edu/">Ohio State University</a></li>
    </ul>
  </span>
  </div>
  <h1>
    <img src=https://web.cse.ohio-state.edu/~davis.1719/Media/JimDavis.jpg alt="Davis">
    Jim Davis
    <a href="https://web.cse.ohio-state.edu/~davis.1719/publications.html">click</a>
  </h1>
</div>
</body>
</html>

