---
title: Introduction
---

<h1>
  INTRODUCTION
</h1>

<p>
  Jim Davis is a Full Professor in the Dept. of Computer Science and Engineering. He received his Ph.D. from the
  Massachusetts Institute of Technology.
</p>

<h1>
  RESEARCH
</h1>

<p>
  His main research areas include Computer Vision, Artificial Intelligence, and Machine Learning with a focus on
  image/video analysis. He has received over $5M in research funding (to date) from the National Science Foundation
  (including a prestigious CAREER award), U.S. Air Force, Los Alamos National Lab, U.S. Army Night Vision Laboratory,
  Intel, and Ohio Board of Regents.
</p>

<h1>
  TEACHING
</h1>

<p>
  Prof. Davis offers classes in Computer Vision and Artificial Intelligence at Ohio State University.
</p>

<h1>
  SERVICE
</h1>

<p>
  In addition to his Full Professor duties and service in the professional societies, he also serves in the CSE Dept. as
  the Coordinator for Undergraduate Research and was the past Chair of the Computer and Space Committee.
</p>
