---
title: Media and Press
---

<!-- Created 6/30/21 by Samuel Gernstetter -->

<h1 class="media_header">Media and Press</h1>

<%= partial "table", :locals => { :class_name => 'media_table', :headers => %w[Title Date Medium Source], :filename => data.media } %>