---
title: Media and Press
---

<h1 class="media_header">
  Media and Press
</h1>

<table class="media_table">
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Medium</th>
    <th>Source</th>
  </tr>
  <% data.media.each do |title, date, medium, source| %>
  <tr>
    <td><%= title %></td>
    <td><%= date %></td>
    <td><%= medium %></td>
    <td><%= source %></td>
  </tr>
  <% end %>
</table>