<!-- Created by Hongda Lin (6/29/2021) -->

<!-- PUBLICATION TITLE -->
<div>
  <h1 class="publication_header">James W. Davis, Publications</h1>
</div>

<!-- PUBLICATION CATEGORIZATION -->
<div>
  <table class="publication_table">
    <thead>
      <tr>
        <% ["Title","Authors","Source","Link"].each do |element|%>
        <th><%= element%></th>
        <% end %>
     </tr>
    </thead>
  </table>
</div>

<!-- PUBLICATION CONTENT -->
<div>
  <table>



  </table>
</div>