---
title: Teaching
---

<!-- Created 7/1/21 by Samuel Gernstetter -->

<h1>Teaching</h1>

<%= partial "table", :locals => { :class_name => 'teaching_table', :headers => %w[Semester Number Title], :filename => data.teaching } %>

<%= partial "footer" %>